* {
    margin: 0;
    padding: 0;
}

.date-header {
    padding: 50px;
    margin-left: 30vw;
}

#date-form {
    padding: 20px;
}

#date-input {
    width: 200px;
    padding: 2px;
}

#date-button {
    padding: 2px;
}

.date-screen-section {
    display: flex;
    flex-direction:row;
}



.date-right-screen {
    padding: 10px;
}

.date-img {
    padding: 10px;
    height: 60vh;
    width: 400px;
}


@media screen and (min-width: 692px) and (max-width: 991px) {
    .date-header {
        margin: 0 auto;
    }

    .date-img {
        padding: 10px;
        height: 60vh;
        width: 50vw;
    }
}



@media screen and (min-width: 401px) and (max-width: 691px) {
   
    .date-header {
        margin: 0 auto;
    }

    .date-img {
        padding: 10px;
        height: 45vh;
        width: 80vw;
    } 
    
    .date-screen-section {
        display: flex;
        flex-direction:column;
   
    }

}


@media screen and (max-width: 400px) {
    
   
    .date-header {
        margin: 0 auto;
        padding: 20px;
        text-align: center;
    }

    .date-img {
        padding: 10px;
        height: 45vh;
        width: 80vw;
    }
     .date-screen-section {
        display: flex;
        flex-direction:column;
    
    }


}