#mediaList {
        display: flex;
        /* grid-template-columns: repeat(3, 1fr); */
        gap: 20px;
        flex-wrap: wrap;
      
}
.exploreMain {
        max-width: 300px;
        :first-child {
                width: 100%;
        }
}

