.box {  
        margin-top: 200px;
        margin-left: 53vw;

}



#loadMoreParent {
        display: flex;
        align-items: center;

}
#loadMore {
        margin-top: 200px;
        margin-left: 53vw;
        background-color: #f3c623;
}
/* .logo {
        position: fixed;
        top: 10px; 
        left: 10px; 
        z-index: -1;
    } */
    
#mediaList {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        margin-left: 30vw;
        margin-top: 25px;
      
}
.exploreMain {
        max-width: 300px;
        :first-child {
                width: 100%;
        }
}

#imageForm {
        display: flex;
        align-items: center;
    }
    
    #user-input {
        padding: 10px;
        border: none;
        border-radius: 5px;
        transition: background-color 0.3s;
        width: 400px;
        height: 50px;
    }
    
    #user-input:focus {
        background-color: #555; /* Darker color on focus */
    }
    
    button {
        padding: 10px 20px;
        border: none;
        border-radius: 20px;
        background-color: #f3c623; 
        color: black;
        cursor: pointer;
        transition: background-color 0.3s;
    }
    
    button:hover {
        background-color: #45a049; /* Darker green on hover */
    }
    
    /* #colorlib-aside #colorlib-logo a {
        font-size: 10px;
        font-family: "Abril Fatface", cursive;
    } */
    