.intro
     {
      
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        max-width: 600px; /* Adjust the width as desired */
        margin: 0 auto; /* Center the container horizontally */
        font-size: 20px;
    }
   

    #apod-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .apod-image {
      position: relative;
      display: inline-block;
    }
  
    .image-wrapper {
      width: 35rem; /* Adjust the width of the container as desired */
    }
  
    #apod-img {
      width: 100%;
      height: auto;
    }
  
    #apod-bio {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.6);
      color: #fff;
      padding: 10px;
      margin: 0;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s;
    }
  
    .apod-image:hover #apod-bio {
      opacity: 1;
      visibility: visible;
    }

    .intro h1, h2 {
      font-family: "Abril Fatface", cursive;
    }


    /* --- works  */
/* 
 #colorlib-aside #colorlib-logo a {
      font-size: 10px;
      font-family: "Abril Fatface", cursive;
  }  */