* {
    margin: 0;
    padding: 0;
}

.random-header {
    padding: 50px;
    margin-left: 30vw;
    
}

.random-title-header {
    font-size: 20px;
}

.random-title-header h1 {
    font-family: "Abril Fatface", cursive;
}


/* #random-input {
    width: 200px;
    padding: 2px;
} */

#random-input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    width: 400px;
    height: 50px;
}


#random-button {
    padding: 11px 20px;
    border-radius: 5px;
    border: none;
    background-color: #f3c623; 
    color: black;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 5px;
}

#random-button:hover {
    background-color: #30456B; /* Darker green on hover */
}

#random-ul {
    display: grid;
    height: 40%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 15px;
    text-align: center;
    box-sizing: border-box;
    grid-gap: 10px;
    background-size: contain;
}


.random-container {
    height: 75vh;
    width: 100%;
    padding: 10px;
    align-items: center;
}

.random-img-class{
    height: 40%;
    width: 35vw;
    box-sizing: border-box;

}



.random-container:hover .random-title-class {
    opacity: 1;
    visibility: visible;
    font-size: 9px;
}

.random-container:hover .random-date-class {
    opacity: 1;
    visibility: visible;
    font-size: 9px;

}

.random-container:hover .random-bio-class {
    opacity: 1;
    height: 10vh;
    width: auto;
    font-size: 9px;
    visibility: visible;

}



.random-date-class{
    visibility: hidden;
}
.random-title-class {
    visibility: hidden;
}

.random-bio-class {
    visibility: hidden;
    
}
colorlib-aside a {
    font-size: 100px;
}

/* -- works  */

/* #colorlib-aside #colorlib-logo a {
    font-size: 50px;
    font-family: "Abril Fatface", cursive;
}  */

/* #colorlib-aside #colorlib-logo a {
    font-size: 100px;
} */
/* #colorlib-aside #colorlib-logo a{
    font-size: 90px;
} 


/* 
h1 a {
    font-size: 80px;
} */


@media screen and (min-width: 692px) and (max-width: 991px) {
    .random-header {
        margin: 0 auto;
    }
    #random-ul {
        height: 60%;
    }
    .random-img-class{
        height: 40%;
        width: 35vw;
        box-sizing: border-box;
    
    }
    .random-container:hover .random-title-class {
        opacity: 1;
        visibility: visible;
        font-size: 8px;    
    }
    .random-container:hover .random-date-class {
        opacity: 1;
        visibility: visible;
        font-size: 8px;
    }

    .random-container:hover .random-bio-class {
        opacity: 1;
        height: 10vh;
        width: auto;
        visibility: visible;
        font-size: 8px;
    }
}

@media screen and (min-width: 401px) and (max-width: 691px) {
    .random-header {
        margin: 0 auto;
    }
    #random-ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
    .random-img-class{
        height: 50%;
        width: 35vw;
        box-sizing: border-box;
    }


    .random-container:hover .random-title-class {
        opacity: 1;
        visibility: visible;
        font-size: 8px;
    }
    .random-container:hover .random-date-class {
        opacity: 1;
        visibility: visible;
        font-size: 8px;
    }
    .random-container:hover .random-bio-class {
        opacity: 1;
        height: 1vh;
        width: auto;
        visibility: visible;
        font-size: 6px;
    }
    

}

@media screen and (max-width: 400px) {
    .random-header {
        margin: 0 auto;
        padding: 20px;
        text-align: center;
    }

    #random-ul {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(10, 1fr);
    }

    #random-form {
        padding: 20px;
    }
    
    
    #random-input {
        width: 200px;
        padding: 2px;
    }
    
    #random-button {
        padding: 2px;
        background-color: blueviolet;
    }

    .random-img-class{
        height: 50%;
        width: 50vw;
        box-sizing: border-box;
        border: 5px solid purple;
    }

    .random-container:hover .random-title-class {
        opacity: 1;
        visibility: visible;
        font-size: 8px;
     
    }
    .random-container:hover .random-date-class {
        opacity: 1;
        visibility: visible;
        font-size: 8px;
       
    }
    .random-container:hover .random-bio-class {
        opacity: 1;
        height: 1vh;
        width: auto;
        visibility: visible;
        font-size: 6px;
      
    }
    


    

}