<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1> This is the page for Date stuff</h1>

    <div id="date-div"></div>
    <form id="date-form">
        <input id="date-input"placeholder="Enter Date (YYYY-MM-DD)">
        <button>SEARCH DATE</button>
    </form>

    <p id="date-para"></p>
    <p id="date-para2"></p>
    <p id="date-para3"></p>
    <p id="date-para4"></p>


    <script src="./js/date.js"></script>
</body>
</html>