<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/explore.css">
</head>
<body> 
    <div class="box">
        <h1>explore</h1>
        <form id="imageForm">
            <input id="user-input" type="text" placeholder="Explore Space Here">
            <button type="submit">Search</button>
        </form>
   </div>

    <div id="mediaList"></div>

    <script src="js/script.js" type="module"></script>
</body>
</html>
