<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOPE Hacks</title>
</head>

<body>
    <h1>Name of App</h1>

    <h2>Astronomy Picture of the Day</h2>

    <div id="apod-container">
        <h2 id="apod-title"></h2>
        <p id="apod-date"></p>
        <p id="apod-bio"></p>
        <img id="apod-img" alt="Astronomy Picture of the Day">
    </div>

    <script src="/js/home.js"></script>

</body>

</html>