<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/random.css">
    <title>Document</title>
</head>
<body>

    <h1>This is the random generator</h1>
    
    <div id="random-div">
    <form id="random-form">
        <input id="random-input" placeholder="ENTER A NUMBER">
        <button id="random-button">COUNT</button>
    </form>

    <ul id="random-ul"></ul>


    
</div>

<script src="./js/random.js"></script>

</body>
</html>